<div id="<%= dom_id employee %>">
  <p>
    <strong>Company code provided:</strong>
    <%= employee.company_code_provided %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Email company:</strong>
    <%= employee.email_company %>
  </p>

  <p>
    <strong>Percentage btc:</strong>
    <%= employee.percentage_btc %>
  </p>

  <p>
    <strong>Fix amount btc:</strong>
    <%= employee.fix_amount_btc %>
  </p>

  <p>
    <strong>Btc address:</strong>
    <%= employee.btc_address %>
  </p>

  <p>
    <strong>Btc address confirmed:</strong>
    <%= employee.btc_address_confirmed %>
  </p>

  <p>
    <strong>Hash of btc address:</strong>
    <%= employee.hash_of_btc_address %>
  </p>

  <p>
    <strong>Account active:</strong>
    <%= employee.account_active %>
  </p>

  <p>
    <strong>Payroll active:</strong>
    <%= employee.payroll_active %>
  </p>

</div>
